@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');

:root {
  --cor-header: #C58E00;
  --cor-fundo: #F2EC91;
  --cor-rick: #30A2FF;
  --cor-botao: #F2EAD3;
  --branco-principal: #FFFFFF;

  --fonte-primaria: 'Roboto', sans-serif;
  --fonte-secundaria: 'Poppins', sans-serif;
  }

  header {
    background-color: var(--cor-header);
    padding: 20px;
    text-align: center;
  }

  .cabecalho__menu_link {
    display: grid;
    grid-template-columns: repeat(3, auto);
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--branco-principal);
    text-decoration: none;
    font-family: var(--fonte-primaria);
    position: relative;
  }

  .cabecalho__menu_link::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--branco-principal);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
  }

  .cabecalho__menu_link li {
    display: flex;
    justify-content: center;
  }
    
  body {
    font-family: var(--fonte-primaria);
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
  }

  h1 {
    margin: 0;
  }

  section {
    padding: 20px;
    text-align: center;
  }

  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-top: 20px;
  }

  .book {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
    }
    
  a {
    color: #fff;
    text-decoration: none;
  }